<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Uredi Autora</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Uredi Autora</h1>
<form th:action="@{'/authors/' + ${author.id}}" th:object="${author}" method="post">
  <div>
    <label for="firstName">Ime:</label>
    <input type="text" id="firstName" th:field="*{firstName}" />
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
  </div>
  <div>
    <label for="lastName">Prezime:</label>
    <input type="text" id="lastName" th:field="*{lastName}" />
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
  </div>
  <div>
    <label for="biography">Biografija:</label>
    <textarea id="biography" th:field="*{biography}"></textarea>
  </div>
  <div>
    <button type="submit">Ažuriraj</button>
  </div>
</form>
<a th:href="@{/authors}">Nazad na listu</a>
</body>
</html>