<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Uredi Autora</title>
  <link rel="stylesheet" th:href="@{/css/CreatePages.css}">
</head>
<body>
<div class="container">
  <h1>Uredi Autora</h1>
  <form th:action="@{'/authors/' + ${author.id}}" th:object="${author}" method="post" class="book-form">

    <div class="form-group">
      <label for="firstName">Ime:</label>
      <input type="text" id="firstName" th:field="*{firstName}" />
      <span class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>

    <div class="form-group">
      <label for="lastName">Prezime:</label>
      <input type="text" id="lastName" th:field="*{lastName}" />
      <span class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>

    <div class="form-group">
      <label for="biography">Biografija:</label>
      <textarea id="biography" th:field="*{biography}" rows="5"></textarea>
    </div>

    <div class="form-actions">
      <a th:href="@{/authors}" class="back-button">Nazad na listu</a>
      <button type="submit" class="submit-button">Ažuriraj</button>
    </div>
  </form>
</div>
</body>
</html>
