<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dodaj Zaduživanje</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Dodaj Zaduživanje</h1>
<form th:action="@{/loans}" th:object="${loan}" method="post">

  <div>
    <label for="book">Knjiga:</label>
    <select id="book" th:field="*{book.id}" required>
      <option value="" disabled selected>Izaberite knjigu</option>
      <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}"></option>
    </select>
    <span th:if="${#fields.hasErrors('book')}" th:errors="*{book}"></span>
  </div>


  <div>
    <label for="username">Korisnik:</label>
    <input type="text" id="username" th:value="${#authentication.name}" readonly />
  </div>

  <div>
    <label for="loanDate">Datum iznajmljivanja:</label>
    <input type="date" id="loanDate" th:field="*{loanDate}" readonly />
    <span th:if="${#fields.hasErrors('loanDate')}" th:errors="*{loanDate}"></span>
  </div>

  <div>
    <label for="returnDate">Datum Povratka:</label>
    <input type="date" id="returnDate" th:field="*{returnDate}" />
    <span th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}"></span>
  </div>

  <div>
    <button type="submit">Spremi</button>
  </div>
</form>
<a th:href="@{/loans}">Nazad na listu</a>
</body>
</html>